.nodeExample1 {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #0088aa;
    border: 1px solid #000;
    width: 200px;
    font-family: Tahoma;
    font-size: 12px;
    color: #ffffff;
    height : 100px;
}

.selected {
  background-color: #aa0000;
}

#cur-summary
{
  /*padding : 5px;*/
  margin-bottom: 10px;
  width : 100%;
  border: 1px solid #0000aa;
}

.selected-sum
{
  font-size: 20px;
  font-weight: bold;
}

.inner-note
{
  font-size : 15px;
  font-weight : bold;
}

#instructor-note
{
  /*padding : 5px;*/
  margin-bottom: 10px;
  width : 100%;
  border: 1px solid #aa0000;
}

#student-note
{
  /*padding : 5px;*/
  margin-bottom: 10px;
  width : 100%;
  border: 1px solid #0000aa;
}

#own-sum
{
  width :100%;
  height : 150px;
}

textarea
{
  font-size : 20px;
}

#vote-button
{
  font-size: 13px;
  margin-right : 5px;
}

#vote-button:hover
{
  text-decoration: underline;
  cursor : pointer;
}

#status
{
  font-size : 13px;
}
.childnode:hover {
  cursor : pointer;
}
input[type='button']:hover
{
  cursor:pointer;
}
