{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/Treant.css' %}">
  <link rel="stylesheet" href="{% static 'css/match.css' %}">
  <p> match your summarization with existing tree </p>
  <div id="sum-outer-div" style="width:20%;float:left;">
    <p id="ee"> Summarization</p>
    <div id="sum-box"></div>
  </div>
  <div style="width:2%;height:10px;float:left;"></div>
  <div id="vert-line" style="width:2%;height:10px;float:left;"></div>
  <div id="div-soltree" style="width:75%"></div>
<script type="text/javascript" src = "{% static 'js/raphael.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/Treant.js' %}"></script>
<script>
  var chart_config = {{chart_config|safe}};
</script>
<script type="text/javascript" src="{% static 'js/soltree.js' %}"></script>
<script type="text/javascript" src="{% static 'js/match1.js' %}"></script>

<script>
  function afterload(){
  $("#vert-line").height($("#div-soltree").height()+1);
  $("#sum-outer-div").height($("#div-soltree").height()+5);
  $("#sum-box").height($("#div-soltree").height()-53);
  };
  var tree = new Treant(chart_config, afterload , $);
  {% for key, value in data.items %}
    if('{{key}}'.includes('sum'))
      ask_summarization('{{value}}');
  {%endfor%}
</script>
<script type="text/javascript" src="{% static 'js/form_match.js' %}"></script>
<form id="formtag" method='POST'>
  {% csrf_token %}
<button onclick="post_submit()" type="submit">next</button>
</form>
<script type="text/javascript" src="{% static 'js/match2.js' %}"></script>
{% endblock %}
