{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/Treant.css' %}">
  <link rel="stylesheet" href="{% static 'css/select.css' %}">
  <div class"div-instruction">
    <p>1. Choose your summarization(multiple choice is possible)</p>
    <p>2. Choose similar step in existing tree.(multiple or no choice is possible)</p>
    <p>3. If you think summarization is weird, you can fix it by clicking</p>
    <p>p.s. If your solution doesn't exist in current tree, <span class='add_sol' style="color : blue; text-decoration : underline;cursor : pointer;">click this</span></p>
  </div>
  <div id="sum-outer-div" style="width:20%;float:left;">
    <p id="ee"> My Summarization</p>
    <div id="sum-box"></div>
  </div>
  <div style="width:2%;height:10px;float:left;"></div>
  <div id="vert-line" style="width:2%;height:10px;float:left;"></div>
  <p class='add_sol' style="text-align:right;color : blue; text-decoration : underline;cursor : pointer;">Add new solution</p>
  <h3 style="text-align:center;">Ohters' solution summarization</h3>
  <div id="div-soltree" style="width:75%"></div>
<script type="text/javascript" src = "{% static 'js/library/raphael.js' %}"></script>
<script type="text/javascript" src = "{% static 'js/library/Treant.js' %}"></script>
<script>
  var chart_config = {{chart_config|safe}};
</script>
<script type="text/javascript" src="{% static 'js/soltree.js' %}"></script>
<script type="text/javascript" src="{% static 'js/match1.js' %}"></script>
<form id="formtag" method='POST'>
  {% csrf_token %}
<button id="btn" style="position:absolute"onclick="go_submit();" type="submit">next</button>
</form>

<script>
  var sum_data = [];
  {% for key, value in data.items %}
    if('{{key}}'.includes('sum'))
      sum_data.push('{{value}}');
  {%endfor%}
  $("#vert-line").height((sum_data.length*100+138)+'px');
  $("#sum-outer-div").height((sum_data.length*100+130)+'px');
  $("#sum-box").height((sum_data.length*100+80)+'px');
  $("#btn").css({
    top : (sum_data.length*100 + 550)+'px',
    left : '20px'
  })
  var tree = new Treant(chart_config, null , $);
  {% for key, value in data.items %}
    if('{{key}}'.includes('sum'))
      ask_summarization('{{value}}');
  {%endfor%}
</script>
<p></p>

<script type="text/javascript" src="{% static 'js/select.js' %}"></script>
<script type="text/javascript" src="{% static 'js/soltree2.js' %}"></script>
{% endblock %}
