{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
  <script type="text/javascript" src="{% static 'js/library/html2canvas.min.js' %}"></script>

  <div style="padding:10px">
    <div>
      <p>
        Capture part of your solution which include key step for solving this problem
      </p>
      <div id="div-img" style="width:75%;float:left;">
        <p style = 'text-align : right; max-width : 100%'>Img orientation is wrong? <span id='span-rotate' style="color : blue; text-decoration : underline;cursor : pointer;">rotate</span></p>
        <div id='div-outer-img'>
          <img style="max-width: 100%; height:auto" id='sol-img' src="{{img.url}}"></img>
        </div>
      </div>
      <div style="width:2%;height:10px;float:left;"></div>
      <div id="vert-line" style="width:2%;height:10px;float:left;"></div>
      <div id="sum-outer-div" style="width:20%;float:left;">
        <p id="ee"> Summarization</p>
        <div id="sum-box"></div>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'js/problem.js' %}"></script>
    <script>
        {% for key, value in data.items %}
          if('{{key}}'.includes('sum'))
            ask_summarization('{{value}}');
        {%endfor%}
    </script>
  </div>
  <div>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
    <form id="formtag" method='POST'>
      {% csrf_token %}
    <button id="form-submit" style="display:none;" onclick="post_to_url()" type="submit"></button>
    </form>
  </div>
  <div style="text-align:right;margin-right25px">
    <button onclick="check_answer()">next</button>
  </div>
{% endblock %}
